:root {
    --text-color: #212121;
    --accent-color: #2196F3;
    --accent-color-hover: #188CE8;
    --text-contacts-color: #757575;
    --main-background-color: #FFFFFF;
    --frame-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --text-contacts-color-footer: rgba(255, 255, 255, 0.6);
    --border-color: #ECECEC; 
    --border-clients-color: #AFB1B8;
    --input-coor:rgba(33, 33, 33, 0.2);
     }
     *,
     *::before,
     *::after{
         box-sizing: border-box;
     }
     h1,
     h2,
     h3,
     h4,
     h5,
     h6,
     p,
     ul{
         padding: 0;
         margin: 0;
     }
     .container{
         width: 100%;
         width: 1200px ;
         margin: 0 auto;
         padding-left: 15px;
         padding-right: 15px;
       
     }
     .section{
        padding-bottom: 94px;
        padding-top: 94px;
     }
    body {
        font-family: Roboto, sans-serif ;
        background-color: var(--main-background-color);
        color: var(--text-color) ;
    }
    header{
        border-bottom: 1px solid var(--border-color);
    }
    .logo{
        color: var(--accent-color);
        font-family: Raleway, sans-serif ;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
        margin-right: 93px;
    }
    .logo-black {
        color: var(--text-color);
    }
    .logo-white {
        color: var(--main-background-color); 
    }
    .list-style{
        list-style: none;
    }
    .skills-list{
        text-align: center;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        width: 270px;

        background-color: var(--main-background-color);
    }
    .main-nav{
       display: flex;
       align-items: center;
    
    }
    .navigation {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--text-color);
        list-style: none;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .current{
          position: relative;
        color: var(--accent-color);
    }
    .navigation:hover,
    .navigation:focus {
        color: var(--accent-color);
    }
    .site-nav{
        display: flex;
    }
    .current::after{
        content:'';
        position: absolute;
        margin-top: 29px;
        display: block;
        width: 100%;
        height: 4px;
        background:var(--accent-color);
        border-radius: 2px;
    }
    .site-nav .navigation-list:not(:last-child){
        margin-right: 50px;
    }
    .contacts-nav{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .contacts-nav .navigation-list:not(:last-child){
        margin-right: 50px;
    }
    .work-list{
        display: flex;
       justify-content: center;
       margin-bottom: 50px;
    }
    .list {
        padding: 6px 22px ;

        font-family: inherit;
        background-color: var(--frame-background-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
        border-radius: 4px;
        border: 0;

        transition-property: color,background-color,box-shadow ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .work-list .work-list-description:not(:last-child){
        margin-right: 8px;
    }
    .list:hover, 
    .list:focus {
        color: var(--main-background-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08), 
         0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .contacts {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--main-background-color);
        text-decoration: none;
        list-style: none;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .email-icon{
        width: 16px;
        height: 12px;
        margin-right: 10px;
        fill: currentColor ;

        transition-property: fill ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .email-icon:hover,
    .email-icon:focus {
        fill: var(--accent-color);
    }
    .smartphone-icon{
        width: 10px;
        height: 16px;
        margin-right: 10px;
    
        fill: currentColor ;

        transition-property: fill ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .smartphone-icon:hover,
    .smartphone-icon:focus {
        fill: var(--accent-color);
    }
    .contacts-footer{
        color: var(--text-contacts-color-footer);
        font-style: normal;
    }
    .contacts-header {
        display: flex;
        align-items: center;
  
        color: var(--text-contacts-color);
        font-weight: 500;
    }
    .contacts:hover,
    .contacts:focus {
        color: var(--accent-color);
    }
    .address:hover,
    .address:focus
     {
        color: var(--accent-color);
    }
    .address{
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color:var(--main-background-color);
        text-decoration: none;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .main-section{
        background-color: var(--footer-background-color);
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image:linear-gradient(
             to right,
             rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58 ,0.4)), 
        url('../images/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .main-text {
        margin-bottom:30px;
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--main-background-color);
    }
    .button-main:hover,
    .button-main:focus{
       background-color: var(--accent-color-hover);  
    }
    .button-main {
        display: inline-block;
        padding:10px 32px ;
        min-width: 200px;
       
        font-family: inherit;
        background-color: var(--accent-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--main-background-color);
        cursor: pointer;
        border-radius: 4px;
        border: transparent;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    .description-list{
        display: flex;
        } 
    .description-list .description-list-skills:not(:last-child){
        margin-right: 30px;
        }
    .visualy-hidden{
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    .team-position{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .icon-bg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      
        width: 270px;
        height: 120px;
        background-color:var(--frame-background-color) ;
        border-radius: 4px;
    }
    .description {
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--text-color);
    }
    .skill-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em; 
        color: var(--text-contacts-color);
    }
    .our-work{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 370px;
        height: 70px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--main-background-color);
        background: rgba(47, 48, 58, 0.8);
    }
    .our-work-dekstop-list{
        position: relative;
    }
    .our-work-dekstop{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .our-work-mobile-list{
        position: relative;
    }
    .our-work-mobile{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .our-work-design-list{
        position: relative;
    }
    .our-work-design{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .description-job-photo{
        display: flex;
    }
    .works-list{
        padding-top: 0;
    }
    .description-job-photo .list-job-photo:not(:last-child){
        margin-right: 30px;
    }
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .our-team{
        background-color: var(--frame-background-color);
    }
    .description-job{
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--text-color); 
    }
    .description-name{
        margin-bottom: 10px;
    }
    .team-social{
        display: flex;
        justify-content: center;
    }
    .team-social .team-social-list:not(:last-child){
        margin-left: 10px;
     }
    .team-social-icon{
        width: 20px;
        height: 20px;
        fill:currentColor;
    }
    .team-social-link{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        color:var(--border-clients-color);

        transition-property: color,background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .team-social-link:hover, 
    .team-social-link:focus{
        background-color: var(--accent-color);
        color: var(--main-background-color);
    }
    .team{
        display: flex;
    }
    .team .skills-list:not(:last-child){
        margin-right: 30px;
    }
    .position {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--text-contacts-color);
        }
    .projects-description{
        display: flex;
        flex-wrap: wrap;
        }
    .projects {
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--text-color);
        }
    .projects-text {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--text-contacts-color);
        }
    .project-exampl{
        padding: 20px 24px;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
    }
    .list-prodjects{ 
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .overlay-text {
        position: absolute;
        display: block;
        padding: 63px 24px;
        text-align: left;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--main-background-color);
        background-color: rgba(33, 150, 243, 0.9);
        font-size: 18px;
        line-height: 1.6;
 
        transform: translateY(294px);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .overlay{
        position: relative;
        overflow: hidden;
    }
    .projects-link{
        display: block;
        text-decoration: none;
        overflow: hidden;

        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    .projects-link:hover .overlay-text,
    .projects-link:focus .overlay-text{
            opacity: 1;
            transform: translateY(0);  
        }
    .projects-link:hover,
    .projects-link:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    .list-prodjects:nth-child(3n){
        margin-right: 0;
    }
    .list-prodjects:nth-last-child(-n+3){
        margin-bottom: 0;
    }
    .clients-section{
        padding-bottom: 94px;
        padding-top: 94px;
    }
    .text-clients{
        margin-bottom: 50px;
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--text-color);
    }
    .clients{
        display: flex;
    }
    .clients-list{
        margin-right: 30px; 
    }
    .clients-link{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 170px;
        height: 92px;
        border: 1px solid var(--border-clients-color);
        border-radius: 4px;
        color:var(--border-clients-color) ;

        transition-property: color, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .clients-link:hover ,
    .clients-link:focus{
        border: 1px solid var(--accent-color); 
        color:var(--accent-color) ;
    }

    .clients-icon{
        width: 106px;
        height: 60px;
        fill:currentColor;
    }
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
 
        background-color: var(--footer-background-color);
        }
    .footer-address{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        }
    .logo-footer{
        display: inline-block;
        margin-bottom: 20px;
       
        font-family: Raleway, sans-serif ;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: var(--accent-color);
        }
    .address-list{
        display: inline-block;
        }
    .address-list-footer{
        margin-bottom: 9px;
    }
    .email{
        margin-bottom: 9px;
    }
    .social-list{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .social-list .social-item:not(:last-child){
        margin-right: 10px;
    }
    .social-link{
       display: flex; 
       align-items: center;
       justify-content: center;
  
       width: 44px;
       height: 44px;
       background: rgba(255, 255, 255, 0.1);
       border-radius: 50%;
       color: var(--main-background-color);

       transition-property: background-color;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .social-icon{
        width: 20px;
        height: 20px;
        fill:currentColor;
    }
   .social-link:hover, 
   .social-link:focus{
        background-color: var(--accent-color);
   }
   .social{
       margin-left: 70px;
   }
   .footer-style{
       display: flex;
       align-items: baseline;
   }
   .footer-text{
       font-weight: 700;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       font-style: normal;
       color: var(--main-background-color);
   }
   .footer-form{
       display: flex;
       flex-direction: column;
       margin-left: 93px;
   }
   .subscribe-cta{
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .subscribe-button{
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 10px 10px 10px 29px;

       background-color: var(--accent-color);
   }
   .subscribe-icon{
       margin-left: 10px;
       width: 24px;
       height: 24px;
       fill:var(--main-background-color);
   }
   .subscribe-input{
       padding: 15px 16px;
       margin-right: 12px;
       width: 358px;
       height: 50px;

       border: 1px solid rgba(255, 255, 255, 0.3);
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
       border-radius: 4px;
       color: var(--main-background-color);
       background-color: var(--footer-background-color);
   }
   .subscribe-label{
       margin-bottom: 20px;
       font-weight: 700;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.03em;
       text-transform: uppercase;

       color: var(--main-background-color);
}
   .backdrop{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height:100%;

       background-color: rgba(0, 0, 0, 0.2);
       opacity: 1;
       transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
       visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .backdrop.is-hidden{
       opacity: 0;
       pointer-events: none;
       visibility: hidden;
   } 
   .backdrop.is-hidden.modal{
       transform:translate(-50%, -50%) scale(0.9);
   }
   .modal{
       position: absolute;
       top: 50%;
       left: 50%;
       height: 581px;
       width: 528px;

       background: #FFFFFF;
       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
       0px 1px 1px rgba(0, 0, 0, 0.14), 
       0px 2px 1px rgba(0, 0, 0, 0.2);
       border-radius: 4px;

       transform:translate(-50%, -50%) scale(1);
       transition: transforme 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .modal-icon{
       width: 18px;
       height:18px ;
       fill: var(--text-color);
   }
   .modal-button{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex; 
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
   }
   .form{
    padding: 40px; 
   }
   .form-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
   }
   .form-field{ 
    position: relative;
    margin-bottom: 10px;
    
   }
   .form-label{
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-contacts-color);
   }
   .form-input{
    padding-left: 42px ;
    width: 100%;
    height: 40px;

    border: 1px solid var(--input-coor);
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;

    transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .form-input:hover,
   .form-input:focus{
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
   }
   .form-input:hover +.input-icon,
   .form-input:focus +.input-icon{
    fill: var(--accent-color);
   }
   .input-icon{
       position: absolute;
       top: 11px;
       left: 12px;
       
       display: inline-block;
       width: 18px;
       height: 18px;
       fill:currentColor;

       transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   }
   .contact-comment{
       display: block;
       width: 100%;
       height: 120px;
       padding: 16px 12px ;

       resize: none;
       border: 1px solid rgba(33, 33, 33, 0.2);
       border-radius: 4px;
       cursor: pointer;

       transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1),
       outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .contact-comment:hover,
   .contact-comment:focus{
       border: 1px solid var(--accent-color);
       outline: 1px solid var(--accent-color);
   }
   .form-rights{
       margin-top: 20px;
   }
   .form-rights-label{
       display: flex;
       justify-content: center;
       align-items: center;

       font-size: 14px;
       line-height: 1.71;
       letter-spacing: 0.03em;
    
       color:var(--text-contacts-color);
   }
   .modal-link{
       color: var(--accent-color);
   }
   .checkbox{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
   }
   .checkbox-rights-icon{
       display: inline-block;
       margin-right: 9px;
       width: 16px;
       height: 15px;
       border: 2px solid var(--text-color);
       border-radius: 4px;
   }
   .checkbox:checked + .checkbox-rights-icon{
       border-color: var(--accent-color);
       background-color: var(--accent-color);
       background-image: url(../images/icon\ check\ \(1\).svg);
       background-size: contain;
       background-origin: border-box;
   }
   .send-button{
       display: block;
       padding: 10px 55px;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
   }


  